@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
    
}
html body{
    overflow-x: hidden;
}

body{
    background-color: rgb(25, 25, 36);
}
.resumebtn{
    box-shadow:  20px 20px 60px #1F2634, -20px -20px 60px #1F2634;
    transition: all 0.4s ease-in-out;
}
.resumebtn .a :hover{
    transform: scale(1.05);
    box-shadow:  20px 20px 60px #1F2634;
    filter: brightness(1);
}
.skillitem:hover h1{
    opacity: 1;
}
.skillcontainer{
    transition: all 0.2s ease-in-out;
}
.expcard{
    box-shadow: rgba(23, 92, 230, 0.15) 0px 4px 24px;
    transition: all 0.3s ease-in-out 0s;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    width: 650px;
}
.expcard:hover{
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    transform: translateY(-5px);
}
.expcard:hover .expval{
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
}
.expImg{
    display: none;
    transition: all 0.8s ease-in-out 0s;
}
.expcard:hover .expImg{
   display: flex;
   cursor: pointer;
} 
.timeline{
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
}
@media only screen and (max-width: 524px) {
    .expcard{
        width: 300px;
    }
}